<footer>
    <div class="integrantes">
        <h1>Nuestro equipo</h1>
        <div class="row">
            <div class="col-lg-3">
                <div class="card">
                    <img src="https://www.vhv.rs/dpng/d/138-1382352_icono-persona-png-iconos-de-personas-transparent-png.png" class="card-img-top imgPerfil" alt="Imagen 1">
                    <div class="card-body">
                        <h5 class="card-title">Gastón Monzón</h5>
                        <p class="card-text">Estudiante de programacion. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi dicta provident sint animi aspernatur est. Beatae recusandae adipisci nesciunt illum officia molestias doloribus a id, at magni obcaecati repellendus iusto! </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <img src="https://www.vhv.rs/dpng/d/138-1382352_icono-persona-png-iconos-de-personas-transparent-png.png" class="card-img-top imgPerfil" alt="Imagen 2">
                    <div class="card-body">
                        <h5 class="card-title">Título 2</h5>
                        <p class="card-text">Estudiante de programacion. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis impedit recusandae quasi qui eaque iusto quaerat a, dolor perspiciatis molestias? Quos pariatur iusto itaque dolorem earum nisi sapiente corrupti temporibus.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <img src="https://www.vhv.rs/dpng/d/138-1382352_icono-persona-png-iconos-de-personas-transparent-png.png" class="card-img-top imgPerfil" alt="Imagen 3">
                    <div class="card-body">
                        <h5 class="card-title">Título 3</h5>
                        <p class="card-text">Estudiante de programacion. Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi hic, possimus aut labore numquam, eum cupiditate doloribus quasi tenetur praesentium beatae aliquam doloremque delectus dolor voluptatem temporibus atque mollitia? Necessitatibus.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <img src="https://www.vhv.rs/dpng/d/138-1382352_icono-persona-png-iconos-de-personas-transparent-png.png" class="card-img-top imgPerfil" alt="Imagen 4">
                    <div class="card-body">
                        <h5 class="card-title">Título 4</h5>
                        <p class="card-text">Estudiante de programacion. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est quibusdam, tenetur repudiandae magnam nesciunt dicta voluptatibus facilis non, iure consectetur deserunt autem libero nobis cupiditate ex nulla, doloremque quis? Dicta! </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>
