/*--------------------------------------------------------------
# Layout Section 
--------------------------------------------------------------*/
.app-layout {
    display: flex;
    flex-direction: column;

}

.app-layout-statusbar {
    background-color: rgb(255, 251, 0);
    align-content: center;

}

.app-layout-main {
    display: flex;
    flex-direction: row;

}


.app-layout-appcontent {
    display: flex;

    background-color: white;
    justify-content: center;
    padding: 10px 20px 30px 40px; 

}