/*--------------------------------------------------------------
# Layout Section 
--------------------------------------------------------------*/
.app-layout {
    display: flex;
    flex-direction: column;

}

.app-layout-statusbar {
    background-color: rgb(255, 251, 0);
    align-content: center;

}

.app-layout-main {
    display: flex;
    flex-direction: row;

}

.app-layout-appmenu {
    display: flex;
    padding: 1em;
    flex-direction: column;
    background-color: white;
    width: 20%;
    min-height: 80px;
    margin-top: 30px;
}

.app-layout-appcontent {
    display: flex;
    padding: 0.5em;
    flex-direction: row;
    background-color: white;
    width: 80%;
    min-height: 80px;
}