/*--------------------------------------------------------------
# Layout Section 
--------------------------------------------------------------*/
.app-layout {
    display: flex;
    flex-direction: column;

}

.app-layout-statusbar {
    background-color: rgb(255, 251, 0);
    align-content: center;

}



.app-layout-appcontent {
    background-color: white;
    justify-content: center;
    padding: 10px 20px 20px 20px; 

}