<!-- ======= Edit Ticket Section ======= -->
<div>
    <div class="modal-header">
        <h5 class="modal-title">{{ ticketId ? 'Editar Ticket' : 'Crear Ticket' }}</h5>
        <button type="button" class="btn-close" aria-label="Close"
            (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="ticketForm">
            <div class="form-group mb-3">
                <label for="title">Titulo:</label>
                <input type="text" class="form-control" id="title" formControlName="title"
                    placeholder="Enter ticket title" *ngIf="!ticketId || (ticketId && currentUser.roles == 'admin')">
                <input type="text" class="form-control" id="title" formControlName="title"
                    placeholder="Enter ticket title" readonly *ngIf="ticketId && currentUser.roles == 'user'">
            </div>
            <div class="form-group mb-3" *ngIf="currentUser.roles == 'admin'">
                <label for="asignedToUserId">Asignar a:</label>
                <select class="form-control" id="asignedToUserId" formControlName="asignedToUserId">
                    <option *ngFor="let user of users" [value]="user.id">{{ user.username }}</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="description">Descripcion:</label>
                <textarea class="form-control" id="description" formControlName="description" rows="3"
                    placeholder="Enter ticket description"></textarea>
            </div>
            <div class="form-group mb-3" *ngIf="currentUser.roles == 'admin'">
                <label for="priority">Prioridad:</label>
                <select class="form-control" id="priority" formControlName="priority">
                    <option value="LOW">Baja</option>
                    <option value="MEDIUM">Media</option>
                    <option value="HIGH">Alta</option>
                </select>
            </div>
            <div class="form-group mb-3" *ngIf="ticketId">
                <label for="status">Estado:</label>
                <select class="form-control" id="status" formControlName="status">
                    <option value="OPEN">Abierto</option>
                    <option value="IN_PROGRESS">En Progreso</option>
                    <option value="RESOLVED">Resuelto</option>
                </select>
            </div>
            <div *ngIf="currentUser.roles == 'admin'" class="form-group mb-3" >
                <label for="service">Servicio:</label>
                <select class="form-control" id="service" formControlName="service">
                    <option value="HARDWARE_REPAIR">Reparación de Hardware</option>
                    <option value="REMOTE_SERVICE">Servicio Remoto</option>
                    <option value="TECHNICAL_SERVICE">Servicio Técnico</option>
                    <option value="CUSTOMER_SERVICE">Atención al Cliente</option>
                    <option value="CUSTOMER_SUPPORT">Soporte al Cliente</option>
                    <option value="SOFTWARE_SUPPORT">Soporte de Software</option>
                    <option value="PREVENTIVE_MAINTENANCE">Mantenimiento Preventivo</option>
                    <option value="PC_ASSEMBLY">Ensamblaje de PC</option>
                    <option value="DATA_RECOVERY">Recuperación de Datos</option>
                    <option value="VIRUS_REMOVAL">Eliminación de Virus</option>
                    <option value="HARDWARE_UPGRADES">Actualizaciones de Hardware</option>
                    <option value="EMERGENCY_REPAIR">Reparación de Emergencia</option>
                    <option value="IT_ACCESSORY_SALES">Venta de Accesorios Informáticos</option>
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer mb-3">
        <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cancel click')">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="save($event)">Guardar Ticket</button>
        <div *ngIf="inputMissingMessage">
            <div class="alert alert-danger">
                <strong>Error!</strong> {{inputMissingMessage}}
            </div>
        </div>
    </div>
</div>