<div class="modal-header">
    <h5 class="modal-title">Create Ticket</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="ticketForm">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" formControlName="title" placeholder="Enter ticket title">
      </div>
      <div class="form-group" *ngIf="this.currentUser.roles == 'admin'">
        <label for="asignedToUserId">Asignar a:</label>
        <select class="form-control" id="asignedToUserId" formControlName="asignedToUserId">
          <option *ngFor="let user of users" value={{user.id}}>{{ user.person?.name+' '+user.person?.lastName }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" id="description" formControlName="description" rows="3" placeholder="Enter ticket description"></textarea>
      </div>
      <div class="form-group" *ngIf="ticketId && this.currentUser.roles == 'admin'">
        <label for="priority">Priority:</label>
        <!-- Si el usuario es administrador -->
        <select class="form-control" id="priority" formControlName="priority">
          <option value="LOW">Low</option>
          <option value="MEDIUM">Medium</option>
          <option value="HIGH">High</option>
        </select>
        <!----------------------------------------->
      </div>
      <div class="form-group" *ngIf="ticketId">
        <!-- Si ticketId es edicion, permitir editar el estado del ticket -->
        <label for="status">Status:</label>
        <select class="form-control" id="status" formControlName="status">
            <option value="OPEN">ABIERTO</option>
            <option value="IN_PROGRESS">EN PROGRASO</option>
            <option value="RESOLVED">RESUELTO</option>
          </select>
        <!----------------------------------------->
      </div>
      <div class="form-group" *ngIf="ticketId && this.currentUser.roles == 'admin'">
        <label for="service">Service:</label>
        <select class="form-control" id="service" formControlName="service">
          <option value="HARDWARE_REPAIR">Hardware Repair</option>
          <option value="REMOTE_SERVICE">Remote Service</option>
          <option value="TECHNICAL_SERVICE">Technical Service</option>
          <option value="CUSTOMER_SERVICE">Customer Service</option>
          <option value="CUSTOMER_SUPPORT">Customer Support</option>
          <option value="SOFTWARE_SUPORT">Software Support</option>
          <option value="PREVENTIVE_MAINTENANCE">Preventive Maintenance</option>
          <option value="PC_ASSEMBLY">PC Assembly</option>
          <option value="DATA_RECORVERY">Data Recovery</option>
          <option value="VIRUS_REMOVAL">Virus Removal</option>
          <option value="HARDWARE_UPGRADES">Hardware Upgrades</option>
          <option value="EMERGENCY_REPAIR">Emergency Repair</option>
          <option value="IT_ACCESSORY_SALES">IT Accessory Sales</option>

        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cancel click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="save($event)">Save Ticket</button>
    @if(this.inputMissingMessage){
      <div class="alert alert-danger">
          <strong>Error!</strong> {{this.inputMissingMessage}}
      </div>
    }
  </div>