/*--------------------------------------------------------------
# General Section
--------------------------------------------------------------*/

.tablaGas {
    width: 100%;
    border-collapse: collapse;
}

.espaciado {
    margin-top: 25px;
    margin-bottom: 25px;
}

.espaciadoBtn {
    margin-right: 10px;
}

th {
    white-space: nowrap;
    text-align: left;
    padding: 0 0.5cm;
}

td {
    text-align: left;
    padding-left: 0.5cm;
}

table {
    width: 100%;
}


/*--------------------------------------------------------------
# Btn Create Section 
--------------------------------------------------------------*/
.create {
    position: relative;
    width: 180px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #34974d;
    background-color: #3aa856;
    border-radius: 30px;

}

.create,
.create .button__icon,
.create .button__text {
    transition: all 0.3s;
}

.create .button__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
}

.create .button__icon {
    position: absolute;
    transform: translateX(135px);
    height: 100%;
    width: 43px;
    background-color: #34974d;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;

}

.create .svg {
    width: 30px;
    stroke: #fff;
}

.create:hover {
    background: #34974d;
}

.create:hover .button__text {
    color: transparent;
}

.create:hover .button__icon {
    width: 148px;
    transform: translateX(0);
}

.create:active .button__icon {
    background-color: #2e8644;
}

.create:active {
    border: 1px solid #2e8644;
}

body {
    margin-top: 20px;
    background: #eee;
}

/*--------------------------------------------------------------
# Btn Download Section 
--------------------------------------------------------------*/

.download-btn.pdf {
    width: 150px;
    height: 40px;
    cursor: pointer;
    background: white;
    border: none;
    background: #ff0000;
    border-radius: 30px;
    overflow: hidden;
}

.download-btn.csv {
    width: 150px;
    height: 40px;
    cursor: pointer;
    background: white;
    border: none;
    background: #4DABE2;
    border-radius: 30px;
    overflow: hidden;
}

.download-btn .button-content {
    transform: translateY(-45px);
    transition: all 250ms ease-in-out;
}

.download-btn .svg-container,
.download-btn .text-container {
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-btn .text-container {
    font-size: 17px;
    color: #fff;
    font-weight: 600;
    opacity: 1;
    transition: opacity ease-in-out 250ms;
}

.download-btn .download-icon {
    height: 25px;
    width: 25px;
    fill: #fff;
    opacity: 0;
    transition: opacity ease-in-out 250ms;
}

.download-btn:hover .button-content {
    transform: translateY(0px);
}

.download-btn:hover .text-container .text {
    opacity: 0;
}

.download-btn:hover .download-icon {
    opacity: 1;
}

.download-btn:focus .download-icon {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

/*--------------------------------------------------------------
# Table Section
--------------------------------------------------------------*/

.panel {
    border-radius: 0;
    margin-bottom: 30px;
}

.panel .panel-heading {
    border-radius: 0;
    position: relative;
    background-color: #37517e;
    color: white;
    text-align: center;
    padding: 10px;
}

.panel .panel-title {
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
}

.panel .panel-body {
    font-size: 19px;
    padding: 20px;
}

.panel .panel-body>.body-section {
    margin: 0px 0px 20px;
}

.panel .panel-body>.body-section>.section-heading {
    margin: 0px 0px 5px;
    font-weight: bold;
}

.panel .panel-body>.body-section>.section-content {
    margin: 0px 0px 10px;
}

.panel-white {
    border: 1px solid #dddddd;
}

.panel-white>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}

.border-top-blue {
    border-top: 4px solid #37517e !important;
}

.bg2 {
    background-color: #37517e;
}


/*--------------------------------------------------------------
# Responsive Section
--------------------------------------------------------------*/

@media screen and (max-width: 1000px) {

    .tablaGas th,
    .tablaGas td {
        display: none;
    }

    .tablaGas th:nth-child(3),
    .tablaGas td:nth-child(3),
    .tablaGas th:nth-child(4),
    .tablaGas td:nth-child(4),
    .tablaGas th:nth-child(5),
    .tablaGas td:nth-child(5),
    .tablaGas th:last-child,
    .tablaGas td:last-child {
        display: table-cell;
    }

    .form-control {
        display: initial !important;
    }
}