<div class="tickets-container">
    <h2>Tickets</h2>
  
    <table ngb-table class="table table-dark table-striped table-hover table-responsive table-md tablaGas">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Description</th>
          <th>Priority</th>
          <th>Service</th>
          <th>Status</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets">
          <td>{{ ticket.id }}</td>
          <td>{{ ticket.title }}</td>
          <td>{{ ticket.description }}</td>
          <td>{{ ticket.priority }}</td>
          <td>{{ ticket.service }}</td>
          <td>{{ ticket.status }}</td>
          <td >
            <button *ngIf="this.currentUser.roles == 'admin'" class="btn btn-danger" (click)="confirmDeleteTicket(ticket.id, ticket.status)"><i class="notifyIcon fa-solid fa-trash-can"></i></button>
            <button class="btn btn-warning" (click)="editTicket(ticket.id)"><i class="notifyIcon fa-solid fa-pen-to-square"></i></button>
          </td>
        </tr>
        <tr *ngIf="tickets?.length === 0">
              <td colspan="8">No se encontraron datos.</td>
        </tr>
      </tbody>
    </table>
</div>
<!-- boton de camilo -->
<button *ngIf="this.currentUser.roles == 'admin'" class="btn btn-warning" (click)="addTicket()"><i class="notifyIcon fa-regular fa-square-plus"> Add Ticket</i></button>
<button *ngIf="this.currentUser.roles == 'admin'" class="btn btn-success" (click)="downloadCSV()"><i class="notifyIcon fa-regular fa-square-plus"> DESCARGAR  CSV</i></button>