<!-- =======  Los botones deben ubicarse uno debajo del otro cuando se hace responsive y ademas sale una linea blanca ======= -->

<!-- =======  Ticket Section ======= -->
<div class="row g-0 text-center">

  <!-- ======= Seacrh Section ======= -->

  <form>
    <div class="mb-3 row mt-4">
      <label for="table-filtering-search" class="col-xl-3 col-sm-auto col-form-label"></label>
      <div class="col-xl-6 col-sm-auto">
        <div class="input-group">
          <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
          <input id="table-filtering-search" class="form-control" type="text" name="searchTerm"
            [(ngModel)]="ticketsService.searchTerm" placeholder="Buscar por ID, Título o Descripción" />
        </div>
      </div>
    </div>
  </form>

  <!-- ======= Table Section ======= -->


  <div class="row mt-4 ">
    <div class="col-sm-12 ">
      <div class="panel  border-top-blue ">
        <div class="panel-heading justify-content-center">
          <h3 class="d-flex justify-content-center">Tickets</h3>
        </div>

        <div class="panel-body  panel-white">
          <div class="table-responsive">

            <table ngb-table class="table table-hover table-md tablaGas">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Titulo</th>
                  <th>Descripcion</th>
                  <th>Usuario asignado</th>
                  <th>Pioridad</th>
                  <th>Servicios</th>
                  <th>Estado</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ticket of tickets">
                  <td>{{ ticket.id }}</td>
                  <td>{{ ticket.title }}</td>
                  <td>{{ ticket.description }}</td>
                  <td>{{ ticket.asignedToUser?.username || 'No Asignado'}}</td>
                  <td>{{ ticket.priority }}</td>
                  <td>{{ ticket.service }}</td>
                  <td>{{ ticket.status }}</td>
                  <td>
                    <div>
                      <button *ngIf="this.currentUser.roles == 'admin'" class="btn btn-info espaciadoBtn rounded"
                        (click)="viewTicketAudit(ticket.id)">
                        <i class="notifyIcon fa-solid fa-magnifying-glass"></i>
                      </button>
                      <button class="btn btn-warning espaciadoBtn rounded" (click)="editTicket(ticket.id)">
                        <i class="notifyIcon fa-solid fa-pen-to-square"></i>
                      </button>
                      <button *ngIf="this.currentUser.roles == 'admin'" class="btn btn-danger espaciadoBtn rounded"
                        (click)="confirmDeleteTicket(ticket.id, ticket.status)">
                        <i class="notifyIcon fa-solid fa-trash-can"></i>
                      </button>
                    </div>
                  </td>

                </tr>
                <tr *ngIf="tickets?.length === 0">
                  <td colspan="8">No se encontraron datos.</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row g-0 text-center">
    <div class="col-sm-6 col-md-4">
      <!-- ======= Btn Create Ticket Section ======= -->
      <button *ngIf="this.currentUser.roles == 'admin'" type="button" class="create" (click)="addTicket()">
        <span class="button__text">Nuevo Ticket</span>
        <span class="button__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2"
            stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg">
            <line y2="19" y1="5" x2="12" x1="12"></line>
            <line y2="12" y1="12" x2="19" x1="5"></line>
          </svg>
        </span>
      </button>
    </div>
    <div class="col-6 col-md-4">
      <!-- ======= Download CSV Section ======= -->
      <button *ngIf="this.currentUser.roles == 'admin'" class="download-btn csv" (click)="downloadCSV()">
        <div class="button-content">
          <div class="svg-container">
            <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="26" height="26"
              fill="#fff" viewBox="0 0 24 24">
              <path fill-rule="evenodd"
                d="M13 11.15V4a1 1 0 1 0-2 0v7.15L8.78 8.374a1 1 0 1 0-1.56 1.25l4 5a1 1 0 0 0 1.56 0l4-5a1 1 0 1 0-1.56-1.25L13 11.15Z"
                clip-rule="evenodd" />
              <path fill-rule="evenodd"
                d="M9.657 15.874 7.358 13H5a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2h-2.358l-2.3 2.874a3 3 0 0 1-4.685 0ZM17 16a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H17Z"
                clip-rule="evenodd" />
            </svg>
          </div>
          <div class="text-container">
            Download CSV
          </div>
        </div>
      </button>
    </div>
    <div class="col-6 col-md-4">
      <!-- ======= Download PDF Section ======= -->
      <button *ngIf="this.currentUser.roles == 'admin'" class="download-btn pdf" (click)="downloadPDF()">

        <div class="button-content">
          <div class="svg-container">
            <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="26" height="26"
              fill="#fff" viewBox="0 0 24 24">
              <path fill-rule="evenodd"
                d="M13 11.15V4a1 1 0 1 0-2 0v7.15L8.78 8.374a1 1 0 1 0-1.56 1.25l4 5a1 1 0 0 0 1.56 0l4-5a1 1 0 1 0-1.56-1.25L13 11.15Z"
                clip-rule="evenodd" />
              <path fill-rule="evenodd"
                d="M9.657 15.874 7.358 13H5a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2h-2.358l-2.3 2.874a3 3 0 0 1-4.685 0ZM17 16a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H17Z"
                clip-rule="evenodd" />
            </svg>
          </div>
          <div class="text-container">
            Download PDF
          </div>
        </div>
      </button>
    </div>
  </div>
</div>

<div class="espaciado"></div>