<div class="container " id="DATOS_USUARIO">
  <div class="row ">
    <div class="col-sm-12 ">
      <div class="panel panel-white profile-widget ">
        <div class="row">
          <div class="col-sm-12">
            <div class="image-container bg2">
              <img [src]="userProfile.person?.profilePicture" class="avatar" alt="avatar" onerror="this.onerror=null;this.src='data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 120 120%27%3E%3Ccircle cx=%2760%27 cy=%2760%27 r=%2760%27 fill=%27white%27/%3E%3C/svg%3E';">
            </div>
          </div>
          <div class="col-sm-12">
            <div class="details">
              <h4>{{ userProfile.person?.name }}</h4>
              <h4>{{ userProfile.person?.lastName }}</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4 ">
        <div class="col-sm-12 ">
          <div class="panel  border-top-blue ">
            <div class="panel-heading justify-content-center">
              <h3 class="panel-title">Datos de Usuario</h3>
            </div>
            <div class="panel-body panel-white">
              <div class="row g-0 text-center">
                <table ngb-table class="table  table-responsive table-md ">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Username</th>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Rol</th>
                      <th>DNI</th>
                      <th>Genero</th>
                      <th>Email</th>
                      <th>Teléfono</th>
                      <th>Dirección</th>
                      <th>Fecha de Nacimiento</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr id="TABLA_USUARIOS">
                      <td>{{ userProfile.id }}</td>
                      <td>{{ userProfile.username }}</td>
                      <td>{{ userProfile.person?.name }}</td>
                      <td>{{ userProfile.person?.lastName }}</td>
                      <td>{{ userProfile.roles }}</td>
                      <td>{{ userProfile.person?.dni }}</td>
                      <td>{{ userProfile.person?.gender }}</td>
                      <td>{{ userProfile.person?.email }}</td>
                      <td>{{ userProfile.person?.phone }}</td>
                      <td>{{ userProfile.person?.address }}</td>
                      <td>{{ userProfile.person?.birthDate }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
