/*--------------------------------------------------------------
# General Section
--------------------------------------------------------------*/

body {
  margin-top: 20px;
  background: #eee;
}

th {
  white-space: nowrap;
  text-align: left;
  padding: 0 0.5cm;
}

td {
  text-align: left;
  padding-left: 0.5cm;
}

table {
  width: 100%;
}

/*--------------------------------------------------------------
# Profile Section
--------------------------------------------------------------*/

.profile-widget {
  position: relative;
}

.profile-widget .image-container {
  background-size: cover;
  background-position: center;
  padding: 190px 0 10px;
}

.profile-widget .image-container .avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto -60px;
  display: block;
}

.profile-widget .details {
  padding: 50px 15px 15px;
  text-align: center;
}

.panel {
  border-radius: 0;
  margin-bottom: 30px;
}

.panel .panel-heading {
  border-radius: 0;
  position: relative;
  background-color: #37517e;
  color: white;
  text-align: center;
  padding: 10px;
}

.panel .panel-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
}

.panel .panel-body {
  font-size: 19px;
  padding: 20px;
}

.panel .panel-body>.body-section {
  margin: 0px 0px 20px;
}

.panel .panel-body>.body-section>.section-heading {
  margin: 0px 0px 5px;
  font-weight: bold;
}

.panel .panel-body>.body-section>.section-content {
  margin: 0px 0px 10px;
}

.panel-white {
  border: 1px solid #dddddd;
}

.panel-white>.panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}

.bg2 {
  background-color: #37517e;
}

/*--------------------------------------------------------------
# Responsive Section
--------------------------------------------------------------*/

@media screen and (max-width: 1000px) {

  .tablaGas th,
  .tablaGas td {
    display: none;
  }

  .tablaGas th:nth-child(3),
  .tablaGas td:nth-child(3),
  .tablaGas th:nth-child(4),
  .tablaGas td:nth-child(4),
  .tablaGas th:nth-child(5),
  .tablaGas td:nth-child(5),
  .tablaGas th:last-child,
  .tablaGas td:last-child {
    display: table-cell;
  }

  .form-control {
    display: initial !important;
  }
}