<!--  <nav>
<ul>
  <li><a routerLink="/app/tickets" routerLinkActive="active">Tareas</a></li>
  <li *ngIf="authService.isAdmin()"><a routerLink="/app/audits" routerLinkActive="active">Auditoria</a></li>
  <li><a routerLink="/app/users" routerLinkActive="active">Usuarios </a></li>
</ul>
</nav>-->
<!-- Sidenav -->
<div id="sidenav-1" class="sidenav" data-mdb-color="dark" role="navigation" data-mdb-hidden="false"
  data-mdb-accordion="true">

  <ul class="sidenav-menu">

    <li class="sidenav-item">
      <a class="sidenav-link" routerLink="/app/tickets" routerLinkActive="active">
        <i class="fa-solid fa-ticket me-3"></i>
        <span>Tareas</span>
      </a>
    </li>
    <!-- <li class="sidenav-item">
      <a class="sidenav-link" *ngIf="authService.isAdmin()" routerLink="/app/audits" routerLinkActive="active">
        <i class="fas fa-history fa-fw me-3"></i>
        <span>Auditoria</span>
      </a>
    </li> -->
    <li class="sidenav-item">
      <a class="sidenav-link" routerLink="/app/users" routerLinkActive="active">
        <i class="fa-solid fa-user me-3"></i>
        <span>Usuarios</span>
      </a>
    </li>
  </ul>
</div>
<!-- Sidenav -->