<app-header />

<!-- ======= Hero Section ======= -->
<div>
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
          data-aos="fade-up" data-aos-delay="200">
          <h1> ¡Llevamos la solución con sabor argentino! </h1>
          <h2>En el corazón de nuestro servicio reside el compromiso de ofrecerte soluciones informáticas confiables y
            eficientes, con el toque distintivo y la pasión que nos caracteriza como argentinos.</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#contactos" class="btn-get-started scrollto">Contactanos</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="../../../assets/img/Logo-CompuExpresss-g.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section>

</div>
<!-- ======= End Hero ======= -->

<!-- ======= Banner slogan Secction ======= -->
<section class="slogan">
  <h1 class="slog1">
    “Tu solución llega con sabor Argentino y tu PC como nueva, en cada visita.”
  </h1>
</section>
<!-- ======= End Banner slogan Secction ======= -->

<!-- ======= Services Section ======= --> <!-- No queda responsive cuando se achica -->
<div id="servicios" class="services">

  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Servicios</h2>
        <p>Algunos de los servicios que ofrecemos</p>
      </div>

      <div class="row">
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-wrench"></i></div>
            <h4><a >Ensamblado de PC</a></h4>
            <p>Calidad y precisión en cada ensamblaje</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-house"></i></div>
            <h4><a>Servicio remoto</a></h4>
            <p>Soluciones rápidas y efectivas desde cualquier lugar.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-gears"></i></div>
            <h4><a>Reparación de Hardware</a></h4>
            <p>Expertos en hardware para resolver cualquier problema.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-users"></i></div>
            <h4><a >Atención al cliente</a></h4>
            <p>Servicio excepcional y compromiso con tu satisfacción.</p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- ======= End Services Section ======= -->

  <!-- ======= About Us Section ======= -->
  <section id="SobreNosotros" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Sobre Nosotros</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <p class="about-text">
            Somos una empresa líder en el mercado, comprometida con la excelencia y la innovación. Nuestro equipo de
            expertos está dedicado a proporcionarte las mejores soluciones para tus necesidades informáticas. Desde la
            configuración inicial hasta el soporte continuo, estamos aquí para asegurarnos de que tu equipo funcione a
            la perfección. Con una atención meticulosa a los detalles y un enfoque centrado en el cliente, nos
            esforzamos por superar tus expectativas en cada paso del camino. Tu satisfacción es nuestra prioridad número
            uno y tu confianza en nosotros es la base de nuestro compromiso continuo. Con nosotros, tu computadora
            personal recibirá el cuidado y la atención que merece.
          </p>

        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="../../../assets/img/Printed circuit board-bro.png" class="img-fluid " alt="">
        </div>
      </div>

    </div>
  </section>
  <!-- ======= End About Us Section ======= -->

  <!-- ======= Team Section ======= -->
  <section id="Nosotros" class="team section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Nuestro equipo</h2>
      </div>

      <div class="row">

        <div class="col-lg-6">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
            <div class="pic"><img src="../../../assets/img/4848bf0a224a195de26d587ba4355689.jpg" class="img-fluid"
                alt=""></div>
            <div class="member-info">
              <h4> Camilo Gastón </h4>
              <span> Trigo Monzon </span>
              <p> Estudiante de la Tecnicatura en Desarrollo Web de la Uner </p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4 mt-lg-0">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
            <div class="pic"><img src="../../../assets/img/d7a0d41dfa239321a04dee7138121b9f.jpg" class="img-fluid"
                alt=""></div>
            <div class="member-info">
              <h4> Camilo Martin </h4>
              <span> Culpian </span>
              <p> Estudiante de la Tecnicatura en Desarrollo Web de la Uner </p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
            <div class="pic"><img src="../../../assets/img/ed71390746a75520a8857cf08a14dc3f.jpg" class="img-fluid"
                alt=""></div>
            <div class="member-info">
              <h4> Emiliano Alberto </h4>
              <span> Jara </span>
              <p> Estudiante de la Tecnicatura en Desarrollo Web de la Uner </p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
            <div class="pic"><img src="../../../assets/img/2ae04d9de77e78f25095454c8d3f75f4.jpg" class="img-fluid"
                alt=""></div>
            <div class="member-info">
              <h4> Natasha </h4>
              <span> Szmagalski Koroll </span>
              <p> Estudiante de la Tecnicatura en Desarrollo Web de la Uner </p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
  <!-- ======= End Team Section ======= -->

  <!-- ======= Contact Section ======= --> <!-- ver si se pone, porque no es funcional. -->
  <section id="contactos" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Contactanos</h2>
        <p>Si tienes alguna pregunta o necesitas más información, no dudes en contactarnos a través de cualquiera de los
          siguientes medios. Estaremos encantados de ayudarte.</p>
      </div>

      <div class="row">

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="fas fa-map-marker-alt"></i>
              <h4>Ubicación:</h4>
              <p>Concordia, Entre Ríos Provincia</p>
            </div>

            <div class="email">
              <i class="fas fa-envelope"></i>
              <h4>Email:</h4>
              <p>compuexpress&#64;gmail.com</p>
            </div>

            <div class="phone">
              <i class="fas fa-phone"></i>
              <h4>Llamar al:</h4>
              <p>+1 (555) 123-4567</p>
            </div>

            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d54500.627364047774!2d-58.041621449999994!3d-31.378588099999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95ade8093e560701%3A0x5d1d34b223a6f091!2sConcordia%2C%20Entre%20R%C3%ADos!5e0!3m2!1ses!2sar!4v1716638382447!5m2!1ses!2sar"
              frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
          </div>
        </div>

        <div class="col-lg-6 order-1 order-lg-2 contact-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="../../../assets/img/Contact us-rafiki.png" class="img-fluid" alt="">
        </div>
        
      </div>

    </div>
  </section>

  <!-- ======= End Contact Section ======= -->

  <app-footer />
  <!--
<app-header />
<div class="carrusel">
     home.component.html 
    @if (images) {
    <ngb-carousel class="imagesCarousel">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[0]" alt="Random first slide" />
            </div>
            <div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[1]" alt="Random second slide" />
            </div>
            <div class="carousel-caption">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[2]" alt="Random third slide" />
            </div>
            <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </ng-template>
    </ngb-carousel>
    }

</div>
<div class="banerCompueExpress">
    <img src="assets/banner1.gif" alt="banerDeEmpresa">
</div>
<div class="espaciado1"></div>
<section class="slogan">
    <h1 class="slog1">
        “Tu solución llega con sabor Argentino
    </h1>
    <div class="espaciado3"></div>
    <h1 class="slog2">
        Tu PC como nueva, en cada visita.”
    </h1>
</section>
<div class="espaciado1"></div>
<article class="infoEmpresa">
    <p>
        Somos una empresa líder en el mercado, comprometida con la excelencia y la innovación. Nuestro equipo de
        expertos ofrece soluciones integrales para que tu equipo informático funcione a la perfección. Con nosotros,
        tu satisfacción es nuestra prioridad y tu computadora personal, nuestro compromiso.
    </p>
</article>
<div class="espaciado1"></div>
<app-footer />-->