<div class="modal-header">
    <h4 class="modal-title">Editando Usuario ID: {{name}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="container mt-4">
        <form [formGroup]="userForm" class="form-inline">

          <div class="form-group row mb-2">
            <label for="username" class="col-sm-2 col-form-label" >Username</label>
            <div class="col-sm-10">
              <input type="text" class="form-control-plaintext" formControlName="username" id="username" name="username" >
            </div>
          </div>

          <div class="form-group row mb-2">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" formControlName="password" class="form-control-plaintext" id="password" name="password">
            </div>
          </div>
          <div *ngIf="!user || this.user.roles == 'admin'">
            <div class="form-group row mb-2">
              <label for="roles" class="col-sm-2 col-form-label">Roles</label>
              <div class="col-sm-10">
                <select class="form-select" formControlName="roles" id="roles" name="roles" >
                  <option value="user">User</option>
                  <option value="admin">Admin</option>
                </select>
              </div>
            </div>

            <div class="form-group row mb-2">
              <label for="name" class="col-sm-2 col-form-label">Nombre</label>
              <div class="col-sm-10">
                <input type="text" class="form-control-plaintext" formControlName="name" id="name" name="name">
              </div>
            </div>

            <div class="form-group row mb-2">
              <label for="lastName" class="col-sm-2 col-form-label">Apellido</label>
              <div class="col-sm-10">
                <input type="text" class="form-control-plaintext" formControlName="lastName" id="lastName" name="lastName">
              </div>
            </div>
            
            <div class="form-group row mb-2">
              <label for="dni" class="col-sm-2 col-form-label">DNI</label>
              <div class="col-sm-10">
                <input type="text" class="form-control-plaintext" formControlName="dni" id="dni" name="dni">
              </div>
            </div>

            <div class="form-group row mb-2">
              <label for="gender" class="col-sm-2 col-form-label">Gender</label>
              <div class="col-sm-10">
                <select formControlName="gender" class="form-select" id="gender" name="gender">
                  <option value="male">Male</option>
                <option value="female">Female</option>
                </select>
              </div>
            </div>

            <!-- Birth Date -->
            <div class="form-group row mb-2">
              <label for="birthDate" class="col-sm-2 col-form-label">Fecha de Nac.</label>
              <div class="col-sm-10">
                <input type="date" formControlName="birthDate" class="form-control" id="birthDate" name="birthDate">
              </div>
            </div>
            <!-- Email -->
            <div class="form-group row mb-2">
              <label for="email" class="col-sm-2 col-form-label">e-mail</label>
              <div class="col-sm-10">
                <input type="mail" class="form-control" formControlName="email" id="email" name="email">
              </div>
            </div>

            <div class="form-group row mb-2">
              <label for="phone" class="col-sm-2 col-form-label">Phone</label>
              <div class="col-sm-10">
                <input type="phone" class="form-control-plaintext" formControlName="phone" id="phone" name="phone">
              </div>
            </div>

            <div class="form-group row mb-2">
              <label for="address" class="col-sm-2 col-form-label">Address</label>
              <div class="col-sm-10">
                <input type="address" class="form-control-plaintext" formControlName="address" id="address" name="address">
              </div>
            </div>
          </div>
          <!-- Profile Picture -->
          <div class="form-group row mb-2">
            <label for="profilePicture" class="col-sm-2 col-form-label">Profile Picture</label>
            <div class="col-sm-10">
              <input type="file" class="form-control" id="profilePicture" name="profilePicture" accept="image/*">
            </div>
          </div>
          
          <button type="submit" class="btn btn-primary" (click)="onSave($event)">Guardar</button>
        </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  @if(this.inputMissingMessage){
      <div class="alert alert-danger">
          <strong>Error!</strong> {{this.inputMissingMessage}}
      </div>
  }
</div>




