


<!-- ESTE ES EL QUE FUNCIONA __> de camilo
<div class="login-component">
    <div class="loginTitle">
      <h3>Login</h3>
    </div>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="entryBox">
        <div class="entryLine">
          <label></label>
          <input placeholder="                      Enter username"
          type="text" formControlName="username" (keyup)="onUsernameChange()">
        </div>
        <div class="entryLine">
          <label></label>
          <input placeholder="                      Enter password"
          type="password" formControlName="password" (keyup)="onPasswordChange()">
        </div>
      </div>
      <div class="actionLine">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
    <div class="notification">
      <ng-container *ngIf="message.length >= 1">
        <div class="alert alert-danger">
          <strong>Error!</strong> {{ message }}
        </div>
      </ng-container>
    </div>
  </div>


-->

<!-- LOGIN YA FUNCIONA -->
<div class="login-component">
  <section class="h-100 gradient-form">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">

                  <div class="text-center">
                    <img src="../../../assets/img/logo.png" style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">Iniciar sesion</h4>
                  </div>

                  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

                    <div class="form-outline mb-4">
                      <label class="form-label" for="formUsername">Usuario</label>
                      <input type="text" formControlName="username" id="formUsername" class="form-control"
                        placeholder="Ingrese su nombre de usuario" (keyup)="onUsernameChange()" />
                    </div>

                    <div class="form-outline mb-4">
                      <label class="form-label" for="formPassword">Contraseña</label>
                      <input type="password" formControlName="password" id="formPassword" class="form-control"
                        placeholder="Ingrese su contraseña" (keyup)="onPasswordChange()" />
                    </div>

                    <div class="actionLine text-center pt-1 mb-5 pb-1">
                      <button type="submit" class="btn btn-primary btn-block fa-lg mb-3">Iniciar sesion</button>
                    </div>

                  </form>

                  <div class="notification">
                    <ng-container *ngIf="message.length >= 1">
                      <div class="alert alert-danger">
                        <strong>Error!</strong> {{ message }}
                      </div>
                    </ng-container>
                  </div>

                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4 text-center">Soporte al usuario</h4>
                  <p class="small mb-3">Por cualquier inconveniente, estamos aquí para ayudarte. Contáctanos para que
                    podamos encontrar una solución juntos.</p>
                  <p class="small mb-0">Puedes llamarnos al siguiente número de teléfono:</p>
                  <p class="small">Teléfono: +1 (555) 123-4567</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
