.gradient-custom-2 {
  background: radial-gradient(circle at 50% -20.71%, #6083be 0, #37517e 50%, #37517e 100%);
}

.btn-primary {
  background-color: #37517e;
  border-color: #37517e;
}

.btn-primary:hover {
  background-color: #6083be;
  border-color: #6083be;
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}