.login-component{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.login-component form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login-component .loginTitle{
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    flex-grow: 0;
}

.login-component .entryBox{
    display: flex;
    flex-direction: column;
    align-items: end;
    align-content: center;
    flex-grow:2;
}

.login-component .entryLine{
    display: flex;
    margin: 3px;
    align-items: center;
    align-content: center;
    flex-grow:1;
}

.login-component .entryLine label{
    margin-right: 5px;
}
.login-component .actionLine{
    margin-top: 5em;
}

.login-component .entryLine input{
    border-radius: 5px;
    border: none;
    box-shadow: none;
}

.login-component button{
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    border: none;
    border: 1px solid darkgrey;
}

.login-component button:hover{
    border: 1px solid cornflowerblue;

}