@if(show){
    <div class='notifOverlay'>
        <div class='notification{{notificationType}}'>
            @if (notificationType!='WAIT') {
                <div class='notificationHeader'>
                    <i class="closeButton fa-solid fa-xmark" (click)="show=false"></i>
                </div>
            }
            <div class='notificationContent'>
                @if (notificationType=='INFO'||notificationType=='WAIT'||notificationType=='OK') {
                    <i class="notifyIcon fa-solid fa-circle-info"></i>
                }@else if(notificationType=='ERROR'){
                    <i class="notifyIcon fa-solid fa-circle-exclamation"></i>
                }@else{
                    <i class="notifyIcon fa-solid fa-triangle-exclamation"></i>
                }
                <p>Esta es una notificacion</p>
            </div>                
        </div>
    </div>
}


