 <!--
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary mb-3 barra">
  <div class="container-fluid">
    <a class="navbar-brand pl-2cm" [routerLink]="'.'">
      <span style="color: #4DABE2;">Compu</span><span style="color: #F39200;">Express</span>
    </a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      <i class="fas fa-bars"></i>
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-center">
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" style="flex-wrap: nowrap; white-space: nowrap;">
            <li class="nav-item"><a [routerLink]="'/'"  class="nav-link px-4 link-body-emphasis" (click)="isMenuCollapsed = true">Home</a></li>
            <li class="nav-item"><a [routerLink]="'/'"  class="nav-link px-4 link-secondary"(click)="isMenuCollapsed = true">Nosotros</a></li>
            <li class="nav-item"><a [routerLink]="'/app'" class="nav-link px-4 link-secondary"(click)="isMenuCollapsed = true">Login</a></li>
          </ul>
    </div>
  </div>
</nav>-->

<!-- Agregarle menu hamburguesa -->

<!-- ======= Header and Navbar======= -->

<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto" [routerLink]="'.'" ><span style="color: #4DABE2;">Compu</span><span style="color: #F39200;">Express</span></h1>

    <nav id="navbar" class="navbar">
      <ul> <!-- Hacer que vaya a la seccion -->
        <li><a [routerLink]="'/'" fragment="hero" class="nav-link scrollto active" >Home</a></li>
        <li><a [routerLink]="'/'"  fragment="servicios" class="nav-link scrollto" >Servicios</a></li>
        <li><a [routerLink]="'/'" fragment="about" class="nav-link   scrollto" >Nosotros</a></li>
        <li><a [routerLink]="'/'" fragment="contact" class="nav-link scrollto" >Contacto</a></li> 
        <li><a [routerLink]="'/app'" class="nav-link scrollto" >Iniciar Sesion</a></li>
      </ul>
    </nav>
  </div>
</header>

<!-- ======= End  ======= -->

