/*--------------------------------------------------------------
# Header Section
--------------------------------------------------------------*/

#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 997;
  transition: all 0.5s;
  padding: 15px 0;
  background: #37517e;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: rgba(53, 72, 104, 0.9);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navbar Section
--------------------------------------------------------------*/

.navbar {
  padding: 0;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  padding: 10px 0 10px 30px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #47b2e4;
}

.navbar .getstarted {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
  font-size: 15px;
  border: 2px solid #47b2e4;
  font-weight: 600;
}

.navbar .getstarted:hover {
  color: #fff;
  background: #31a9e1;
}
.navbar .btn.btn-black.btn-rounded.logOut {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  margin-top: 10px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler-icon.open {
  margin-top: 10px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M6 6l18 18M6 24L24 6'/%3E%3C/svg%3E");
}

/*--------------------------------------------------------------
# Media Queries Section
--------------------------------------------------------------*/

@media (max-width: 991.98px) {
  .navbar-collapse {
    text-align: center;
    flex-direction: column;
  }

  .navbar-nav {
    flex-direction: column;
    margin-top: 10px;
  }

  .navbar-nav .nav-item {
    margin-bottom: 10px;
  }

  .container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    margin-bottom: 0;
    order: -1; 
    text-align: center;
    width: 100%; 
    display: flex;
    justify-content: center;
  }

}



