
<!-- Agregarle menu hamburguesa -->

<!-- ======= Header and Navbar======= -->

<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto" [routerLink]="'.'" ><span style="color: #4DABE2;">Compu</span><span style="color: #F39200;">Express</span></h1>

    <nav id="navbar" class="navbar">
      <ul> 
        <li><a [routerLink]="'/'"  class="nav-link scrollto active" >Home</a></li>
        <li><a [routerLink]="'/'"  fragment="servicios" class="nav-link scrollto" >Servicios</a></li>
        <li><a [routerLink]="'/'" fragment="SobreNosotros" class="nav-link   scrollto" >Nosotros</a></li>
        <li><a [routerLink]="'/'" fragment="contactos" class="nav-link scrollto" >Contacto</a></li> 
        <li><a [routerLink]="'/app'" class="nav-link scrollto" >Iniciar Sesion</a></li>
      </ul>
    </nav>
  </div>
</header>


