<!-- <h1>editar el archivo audit.view.component.html</h1> -->

<!-- a posteriori pal boton: *ngIf="modalOpened"-->
    <div class="modal-header">
        <h4 class="modal-title">Auditanditando Ticket ID: {{ticketId}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
            <div class="modal-body">
                <!-- Si hay datos de auditoría, mostrarlos -->
                <div *ngIf="audits && audits.length > 0">
                    <div *ngFor="let audit of audits">
                        <p>{{ audit.operation + '|' +audit.description+ '|' + audit.asignedToUser.username}}</p>
                    </div>
                </div>
                <!-- Si no hay datos de auditoría, mostrar mensaje -->
                <div *ngIf="!audits || audits.length === 0">
                    <p>No hay datos de auditoría para mostrar.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">Cerrar</button>
            </div>
        
